extends ../layout

block content
    h2.text-center.title-login= title
    form(action="/sessions" method="post")
        .row.justify-content-md-center
            .col.col-lg-2
                .form-group
                    label(for='inputPseudo') Pseudo
                    input#inputPseudo.form-control(name="pseudo" type="text" value=user.pseudo placeholder="pseudo")
            .col.col-lg-2
                .form-group
                    label(for='inputPassword') Password
                    input#inputPassword.form-control(name="password" type="password" value=user.password placeholder="password")
        .row.justify-content-md-center
            .col-md-auto
                button.btn.btn-warning(type='submit') Login
