extends ../layout

block content
  h3 Profil utilisateur

  table(border=1)
    tr
      th Pseudo
      td= user.pseudo
    tr
      th Firstname
      td= user.firstname
    tr
      th Lastname
      td= user.lastname
    tr
      th Email
      td= user.email